<div class="filtros mt-3">
    <select (change)="onChange($event)">
        <option value="todas">Todas las categorías</option>
        @for (cat of arrCategorias; track $index) {
        <option>{{ cat }}</option>
        }
    </select>
</div>


<h1 class="mt-4">Todos los Posts</h1>

<div class="posts mb-5">
    @for (post of arrPosts; track post.id) {
    <div class="post mt-2 mb-2">
        <span class="badge text-bg-secondary">Categoria: {{ post.categoria }}</span>
        <h3>{{ post.titulo }}</h3>
        <img class="mb-2" [src]="post.imagen" alt="" />
        <p>Autor: {{ post.autor }}</p>
        <p>{{post.fecha | date: 'dd/MM/yyyy'}}</p>
        <p>{{ post.texto}}</p>
        <hr>
    </div>
    }
</div>